


<div class="container">
  <div id="nav">
    <li><%= link_to('HOME', home_path, class: 'nav-link') %></li> 
    <li><%= link_to('WORK', work_path, class: 'nav-link') %></li>
  </div>

	<h3>Lunar Economic Zone</h3>

	<iframe src="https://player.vimeo.com/video/111431567" width="1000" height="562" frameborder="0" class="video" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 

	<section id="photos">
    <p>
      The 2028 Mid August Day Lunar Mineral Parade is a speculative event which takes place in
      the newly formed Lunar Economic Zone, an administrative agglomeration of Shenzhen and the Moon, on August 15, 2028.
      Coordinated by Zhan Wang, the event is designed to be seen by the mechanical eyes of the world’s media and is an external projection of pomp and ceremony showcasing an emerging resource rich, technology advanced superpower.
    </p>
    <%= image_tag('lunar economic zone/2.jpg', class: 'image') %>
		<%= image_tag('lunar economic zone/3.jpg', class: 'image') %>
		<%= image_tag('lunar economic zone/4.jpg', class: 'image') %>
    <p>
      As the media frenzy descends on the city the world is invited to the grand parade that marks the first consignment of lunar minerals touching down on earth. The parade route takes spectators along the main axis of city from the 10000 meter tall space elevator to the mega ships of the world’s largest mineral port.
    </p>
		<%= image_tag('lunar economic zone/6.jpg', class: 'image') %>
		<%= image_tag('lunar economic zone/7.jpg', class: 'image') %>
    <p>
      As the world’s largest rare earth producer China currently controls 90% of the mineral market. Their recent limits placed upon mineral exports has artificially driven rare earth prices to unprecedented levels. Western nations are scrambling to find their own mineral deposits to counter the Chinese monopoly.
    </p>
		<%= image_tag('lunar economic zone/1.jpg', class: 'image') %>
		<%= image_tag('lunar economic zone/5.jpg', class: 'image') %>
    <p>
      Between documentary and fiction, between propaganda and news the Lunar Economic Zone plays on our fears of a localised resource economy.
    </p>

	</section>
</div>



