<div class="container">
  <div id="nav">
  	<li><%= link_to('HOME', home_path, class: 'nav-link') %></li>	
  	<li><%= link_to('WORK', work_path, class: 'nav-link') %></li>
  </div>

	<h3>System D Logistics</h3>
	
  <iframe src="https://player.vimeo.com/video/86366318?color=00ffaa&title=0&byline=0&portrait=0" width="1000" height="562"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 

	<section id="photos">
		<p>
      As an artery of international trade and a crucial part of the global economy, sea born trade routes are heavily monitored by various technologies that enforce regulations and detect irregular activities.The types of economic activities in question are often described as “under the table” and “off the books” as they are not taxed or included in any Gross National Product. Collectively, this type of trade is the world’s second largest economy, worth $10 trillion a year and employs over half of the world’s population.
    </p>
    <%= image_tag('system d logistics/1.jpg', class: 'image') %>
		<%= image_tag('system d logistics/2.jpg', class: 'image') %>
		<%= image_tag('system d logistics/3.jpg', class: 'image') %>
		<%= image_tag('system d logistics/4.jpg', class: 'image') %>
    <p>
      Making an inventory of the illicit items that are contained within 1 pixel of google earth’s view of Mexico City, System D Logistics operates as a covert supply chain to smuggle these items to the US coastline. Deploying various tactics along the shipping route to evade detection, the logistics operation reveals the extraordinary lengths the authorities go to in order to tax an industry that employs the majority of the population. 
    </p>
    <%= image_tag('system d logistics/5.jpg', class: 'image') %>
		<%= image_tag('system d logistics/6.jpg', class: 'image') %>
		<%= image_tag('system d logistics/7.jpg', class: 'image') %>
    <p>
      The technology of surveillance is not infallible, it is full of gaps, cracks and loopholes and is a infrastructural manifestation of the interests of those who profit from the regulation of goods.
    </p>
		<%= image_tag('system d logistics/8.jpg', class: 'image') %>
		<%= image_tag('system d logistics/9.jpg', class: 'image') %>
	</section>
</div>