<div class="container">
  <div id="nav">
    <li><%= link_to('HOME', home_path, class: 'nav-link') %></li> 
  </div>

    <div id="work-nav">
      <li><%= image_tag('lunar economic zone/2.jpg', class: 'image') %></li>
      <li><%= image_tag('system d logistics/1.jpg', class: 'image') %></li>
    </div>  


  <%= link_to('LUNAR ECONOMIC ZONE', lez_path, class: 'work-link') %>
  <%= link_to('SYSTEM D LOGISTICS', sdl_path, class: 'work-link') %>

</div>